
<ul class="posts">
    <header>
        <h3>{{ i18n "recentPosts" }}</h3>
    </header>
    {{- if .Site.Data.main.orderByPublishDate }}
        {{- $.Scratch.Set "recentPosts" .Site.Pages.ByPublishDate.Reverse }}
    {{- else }}
        {{- $.Scratch.Set "recentPosts" .Site.Pages }}
    {{- end }}

    {{- with .Site.Data.main.postAmount.sidebar }}
        {{- $.Scratch.Set "postLimit" . }}
    {{- else }}
        {{- $.Scratch.Set "postLimit" 5 }}
    {{- end }}

    {{- range first ($.Scratch.Get "postLimit") (where ($.Scratch.Get "recentPosts") "Type" "post") }}
        <li>
            <article>
                <header>
                    <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                    {{- if .Site.Data.main.orderByPublishDate }}
                        {{- $.Scratch.Set "dateType" .PublishDate }}
                    {{- else }}
                        {{- $.Scratch.Set "dateType" .Date }}
                    {{- end }}
                    <time class="published"
                        datetime="{{ ($.Scratch.Get "dateType").Format "2006-01-02" }}">
                        {{ ($.Scratch.Get "dateType").Format "2006.01.02" }}
                    </time>
                </header>
            </article>
        </li>
    {{- end }}
</ul>

